body {
	font-size: 14px;
}
ol {
	font-size:24px;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#E0E0E0;
	top:0;
	width:100%;
}

ol a {
	display:black;
	color:black;
	text-align:center;
	padding:10px 14px;
	text-decoration:none;
}
ol a:hover:not(.active) {
	background-color:#FFFFFF;
}
ol a.active {
	bakground-color:orange;
}
table{
   	border-collapse: collapse;
   	width: 770px;
	height: 300px; 	
   	word-wrap: break-word;
   	table-layout: fixed;
   }


p{padding:0px; margin:0px;display: inline;}